body {
    background-color: hsl(0, 0%, 95%);
    }
main {
    width:50%;
    margin:auto;
    display: flex;
    align-items:center;
    justify-content:center;
    height:100vh;
}

.button {
    background-color: hsl(0, 0%, 95%);
    text-align: center;
    display: inline-block;
    font-size: 5px;
    font-family: 'Lexend Deca', sans-serif;
  }
  .button1 {
    color: hsl(31, 77%, 52%);
    padding: 10px;
    margin: 20px;
    border-radius: 25px;
    border: none;
  } 
  .button2 {
    color: hsl(184, 100%, 22%);
    padding: 10px;
    margin: 20px;
    border-radius: 25px;
    border: none;
  }
  .button3 {
    color: hsl(179, 100%, 13%)
    padding 10px;
    margin: 20px;
    border-radius: 25px;
    border: none;
  }
  
  .left-box {
      background-color: hsl(31, 77%, 52%);
      border-radius: 5px; 0px; 5px; 0px;
      padding:2em
  }
  .middle-box {
      background-color: hsl(184, 100%, 22%);
      border-radius: none;
      padding:2em
  }
  .right-box {
      background-color: hsl(179, 100%, 13%);
      border-radius: 5px;
      padding:2em
  }
h2 {
    color: hsl(0, 0%, 95%);  
    font-family: 'Big Shoulders Display', cursive;
}
p {
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca', sans-serif;
    }